[
    {
        "name": "Tester Name One",
        "trigram": "UNIQUE_CODE_1",
        "ext": true or false
    },
    {
        "name": "Tester Name Two",
        "trigram": "UNIQUE_CODE_2",
        "ext": true or false
    },
    {
        "name": "Tester Name Three",
        "code": "UNIQUE_CODE_3",
        "trigram": true or false
    }
]
